<div class="feed-item">
  <img src="https://opengraph.githubassets.com/1/{{ repo_slug }}" alt="{{ repo_slug }}">

  <p class="description">{{ description }}</p>

  <p>
    Language: {{ language }}<br>
    Star: {{ stargazers_count }}<br>
    Watch: {{ watchers_count }}
  </p>
</div>
